/* Colors letter and background */
.bg-blue {
    background-color: #373867;
}

.bg-white {
    background-color: #EBECF0;
}

.bg-green {
    background-color: #AACE9B;
}

.letter-blue {
    color: #373867;
}

.letter-white {
    color: #EBECF0;
}

/*  */

body {
    font-family: 'Roboto';
    font-style: normal;
}

header {
    position: absolute;
    width: 80%;
    left: 20%;
}

.header-logo {
    position: relative;
    padding: 45px 0px 45px 50px;
}

.header-title {
    display: inline;
    position: absolute;
    padding: 40px 0px 0px 55px;
    color: #AACE9B;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

aside {
    position: fixed;
    width: 20%;
    height: 100%;
}

.nav-logo {
    padding: 5px 0px 0px 95px;
    width: 80px;
    height: 100px;
}

.nav-ul {
    padding: 20px 50px 15px 40px;
}

.nav-ul-li {
    padding: 20px 50px;
    margin: 10px;
    border: 1px solid #373867;
    border-radius: 2px;
}

.li-a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.aside-other-op {
    padding: 0px 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.aside-other-op-ul-li {
    padding: 0px 44px;
    margin: 10px;
}

.li-a-logo {
    position: relative;
    width: 30px;
    height: 30px;
    top: 6px;
    padding: 0px 10px 0px 20px;
}

main {
    position: relative;
    width: 80%;
    left: 20%;
    top: 150px;

}

.section-one {
    padding: 10px 20px;
    border-bottom: 3px solid #373867;
}

.section-one h2 {
    width: 50%;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.section-one p {
    display: inline-block;
    position: relative;
    bottom: 200px;
    width: 50%;
}

.section-one img {
    position: relative;
    width: 40%;
    height: 40%;
}

.section-two {
    padding: 10px 20px;
    border-bottom: 3px solid #373867;
}

.section-two-div {
    height: 500px;
    border-radius: 10px;
    background-image: url("../img/background-img-gym.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.section-two-div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding: 50px 0px;
}

.sec-two-ul-li {
    width: 60%;
    margin: 20px;
    padding: 30px 30px;
    border: 1px solid #373867;
    border-radius: 2px;
}

.sec-two-list-type {
    display: inline-block;
}

.section-three {
    padding: 20px 30px;
    border-bottom: 3px solid #373867;
}

.section-three h2 {
    display: inline;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.section-three img {
    position: relative;
    top: 13px;
}

.form div {
    margin: 15px 0px;
    padding: 0px 15px;
}

.form div label {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    margin: 0px 10px;
    color: #373867;
}

.form div input {
    height: 40px;
    width: 20%;
    border: 1px solid #373867;
    border-radius: 20px;
}

.form div input::placeholder {
    padding: 5px;
}

.form div input:valid {
    padding: 0px 10px;
}

.reason-text {
    display: block;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.reason-group div {
    margin: 0px;
}

.reason-group div input {
    width: 13px;
    border: 1px solid #373867;
    border-radius: 20px;
}

.label-messages {
    display: block;
}

.form-div-messages textarea {
    margin: 0px 20px;
    padding: 10px 0px;
    width: 574px;
    height: 97px;
}

.form button {
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid #373867;
    font-family: 'Roboto';
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.section-four {
    padding: 20px 30px;
    border-bottom: 3px solid #373867;
}

.section-four h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding: 10px 0px;
}

.section-four-div {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background-image: url("../img/background2-img-gym.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.section-four-div p {
    width: 50%;
    margin: auto;
    padding: 150px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.section-five {
    padding: 20px 30px;
    position: relative;
}

.section-five-div1 {
    display: inline-block;
    position: relative;
    top: 0;
    width: 40%;
}

.section-five-div1 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding: 10px 0px;
}

.section-five-div1 ul li {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.section-five-div2 {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 40%;
    padding: 20px 30px;
    ;

}

.section-five-div2 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding: 10px 0px;
}

.section-five-div2-ul ul {
    padding: 10px 0px;
}


.section-five-div2-ul li img {
    position: relative;
    right: 65px;
}

.section-five-div2-ul li h3,
.section-five-div2-ul li ul li {
    position: relative;
    bottom: 40px;
    font-weight: 600;
    font-size: 20px;
}

.section-five-div2-ul li h3 {
    padding: 10px 0px;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}


footer {
    position: relative;
    top: 130px;
    width: 80%;
    height: 20%;
    left: 20%;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

footer small {
    position: relative;
    bottom: 50px;
    padding: 0px 175px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.footer-img-gmail {
    position: relative;
    bottom: 30px;
}

.footer-img-facebook {
    position: relative;
    left: 14px;
}

.footer-img-insta {
    position: relative;
    bottom: 12px;
}
