<!DOCTYPE html>
<html lang="en">
<head>
    <title>MegaRocket SA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <aside class="aside-div">
        <img class="img-hamburger" src="../../assets/imgs/hamburger.png" alt="hamburger button">
        <nav class="nav">
            <img class="nav-logo-desktop" src="../../assets/imgs/logo-rocket.jpg" alt="Radium Rocket Logo">
            <ul class="nav-ul">
                <li class="aside-nav-ul-li bg-blue"><a class="li-a letter-white" href="#">HOME</a></li>
                <li class="aside-nav-ul-li bg-white"><a class="li-a letter-blue" href="./sign-up.html">SIGN UP</a></li>
                <li class="aside-nav-ul-li bg-white"><a class="li-a letter-blue" href="./login.html">LOG IN</a></li>
                <li class="aside-nav-ul-li bg-white"><a class="li-a letter-blue" href="#">CONTACT</a></li>
            </ul>
        </nav>
        <div class="div-other-op">
            <h2 class="aside-other-op letter-blue">OTHER OPTIONS</h2>
            <ul class="aside-other-op-ul">
                <li class="aside-other-op-ul-li"><a class="li-a letter-blue" href="#">How can we help?</a></li>
                <li class="aside-other-op-ul-li"><a class="li-a letter-blue" href="#">Our history</a></li>
                <li class="aside-other-op-ul-li"><a class="li-a letter-blue" href="#">Activities</a></li>
            </ul>
        </div>
        <ul class="aside-ul-info">
            <li>
                <a class="a-info" target="_blank" href="mailto:info@Rocket.com">
                    <img class="a-info-img" src="../../assets/imgs/mail.png" alt="mail logo">
                    info@Rocket.com
                </a>
            </li>
            <li>
                <a class="a-info" target="_blank" href="https://www.google.com/maps/place/Rosario,+Santa+Fe">
                    <img class="a-info-img" src="../../assets/imgs/house.png" alt="house logo">
                    Rosario, Argentina
                </a>
            </li>
            <li>
                <a class="a-info" target="_blank" href="tel:000000000">
                    <img class="a-info-img" src="../../assets/imgs/whatsapp.png" alt="whatsapp logo">
                    (000) 000-000
                </a>
            </li>
        </ul>
        <div class="aside-div-phone">
            <img src="../../assets/imgs/logo-rocket.jpg" alt="Radium Rocket Logo">
            <p class="letter-green">MEGA ROCKET SA</p>
        </div>
        <div class="aside-logos">
            <a href="mailto:info@Rocket.com">
                <img class="aside-logos-img" src="../../assets/imgs/gmail.png" alt="gmail logo">
            </a>
            <a href="https://www.instagram.com/">
                <img class="aside-logos-img" src="../../assets/imgs/facebook.png" alt="facebook logo">
            </a>
            <a href="https://es-la.facebook.com/">
                <img class="aside-logos-img" src="../../assets/imgs/instagram.png" alt="instagram logo">
            </a>
        </div>
    </aside>
    <div>
        <header class="bg-blue">
            <img class="img-hamburger" src="../../assets/imgs/hamburger.png" alt="hamburger menu">
            <img class="header-logo" src="../../assets/imgs/radium-logo-letra.png" alt="Radium Rocket Logo Letters">
            <h1 class="header-title">MEGA ROCKET SA</h1>
        </header>
        <main>
            <section class="section-reason">
                <h2 class="section-reason-title letter-blue">THE MAIN REASON OF HEALTH</h2>
                <div class="section-reason-div">
                    <p>
                        Component Body Maecenas interdum faucibus quam ac interdum. Donec facilisis vitae ipsum a 
                        ullamcorpr. Proin interdum suscipit velit. Nullam pulvinar efficitur sapien ac rhoncus. Ae
                        nean scelerisque,nisi atinterdum laoreet, est nisi sagittis enim, nec eleifend justo orci 
                        quis nisl. Morbi fringillafelis non ipsum dapibus, eget ornare tortor hendrerit. Curabitur
                        ac eleifend orci. Donec condimentm ex non leo volutpat pretium. Cras aliquet quam quis sem
                        per egestas. Sed at ultricies turpis. Aenean cursus porta eleifend.
                    </p>
                    <img class="section-reason-img" src="../../assets/imgs/gym-persons.png" alt="people in gym">
                </div>
            </section>
            <div class="line-section"></div>
            <section class="section-help">
                <h2 class="section-help-title letter-white">
                    HOW CAN WE HELP YOU?
                </h2>
                <div class="div-list">
                    <ul class="sec-help-list-type">
                        <li class="sec-help-ul-li bg-white">
                            <p class="help-types letter-blue" href="#">
                                TURN RESERVATION
                            </p>
                        </li>
                        <li class="sec-help-ul-li bg-white">
                            <p class="help-types letter-blue" href="#">
                                AGENT DISPLAY
                            </p>
                        </li>
                    </ul>
                    <ul class="sec-help-list-type">
                        <li class="sec-two-ul-li bg-white">
                            <p class="help-types letter-blue" href="#">
                                MEMBERSHIP MANAGMENT
                            </p>
                        </li>
                        <li class="sec-help-ul-li bg-white">
                            <p class="help-types letter-blue" href="#">
                                CONTACT AND SUGGESTION FORM
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="line-section"></div>
            <section class="section-contact">
                <div class="section-contact-div">
                    <h2 class="letter-blue">CONTACT</h2>
                    <img src="../../assets/imgs/mail.png" alt="email logo">
                </div>
                <form class="form">
                    <label class="label letter-blue">
                        Name 
                        <input class="input-form" type="text" placeholder="Insert your name">
                    </label>
                    <label class="label letter-blue">
                        Surname
                        <input class="input-form" type="text" placeholder="Insert your surname">
                    </label>
                    <label class="label letter-blue">
                        Email
                        <input class="input-form" type="email" placeholder="Insert your e-mail">
                    </label>   
                    <div class="section-three-form-div">
                        <h3 class="form-subtitles letter-blue">Reason for contact: </h3>
                        <label class="form-div-label letter-blue"  for="option1">
                            <input id="option1" type="radio" name="reason-contact" value="suggestion"> 
                            I want to make a query or suggestion
                        </label>    
                        <label class="form-div-label letter-blue"  for="option2">
                            <input id="option2" type="radio" name="reason-contact" value="claim"> 
                            I want to make a claim
                        </label>    
                        <label class="form-div-label letter-blue"  for="option3">
                            <input id="option3" type="radio" name="reason-contact" value="membership-cost"> 
                            I want to know the memberships and costs
                        </label>
                    </div>        
                    <label class="form-message letter-blue">
                        Message
                        <textarea class="textarea" cols="30" rows="10" placeholder="Type your message here"></textarea>
                    </label>
                    <div>
                        <button class="form-btn letter-blue bg-green" type="submit">Send message</button>
                        <button class="form-btn form-btn-reset letter-blue" type="reset">Reset</button>
                    </div>
                </form>
            </section>
            <div class="line-section"></div>
            <section class="section-our-history">
                <h2 class="section-our-history-title letter-blue">OUR HISTORY</h2>
                <div class="section-our-history-div">
                    <p class="section-our-history-p letter-white">
                        Quisque pellentesque lacus metus, sodales tempor leo tincidunt ut. Curabitur quis elit ut lectu
                        s vehicula rutrum eu at sem. Nam eget quam mi. Donec gravida metus ante, eget vulputate nibh po
                        suere nec. Donec iaculis consequat neque at vulputate. Nulla tincidunt diam justo, eget facilis
                        is nibh porttitor id. Suspendisse rhoncus elit non dapibus ullamcorper. Proin in tempor quam. N
                        ulla in eros est.
                    </p>
                </div>
            </section>
            <div class="line-section"></div>
            <section class="section-activities">
                <div class="section-act_member-div">
                    <h2 class="section-act_member-title letter-blue">ACTIVITIES</h2>
                    <ul class="section-five-ul-activities letter-blue">
                        <li class="img-with-text">
                            <img class="img" src="../../assets/imgs/olympic-bar.png" alt="gym weights">
                            Crossfit
                        </li>
                        <li class="img-with-text">
                            <img class="img" src="../../assets/imgs/arm-gym.png" alt="arm">
                            Fitness
                        </li>
                        <li class="img-with-text">
                            <img class="img" src="../../assets/imgs/bike-gym.png" alt="bike">
                            Spinning
                        </li>
                        <li class="img-with-text">
                            <img class="img" src="../../assets/imgs/machine-gym.png" alt="gym machine">
                            Functional
                        </li>
                        <li class="img-with-text">
                            <img class="img" src="../../assets/imgs/box-gym.png" alt="boxing glove">
                            Box
                        </li>
                    </ul>
                </div>
                <div class="section-act_member-title section-act_member-div">
                    <h2>MEMBERSHIP TYPES</h2>
                    <ul class="section-five-ul">
                        <li class="sec-five-li">
                            <h3 class="ul-title">Black membership</h3>
                            <div class="list-memberships-types">
                                <img class="section-five-img2" src="../../assets/imgs/shield.png" alt="shield">
                                <ul class="sec-five-ul">
                                    <li>-Free access to the weight room</li>
                                    <li>-Free acces to classes prior</li>
                                    <li>-Registration</li>
                                    <li>-Personalized monitoring by coach</li>
                                    <li>-Grid display</li>
                                </ul>
                            </div>
                        </li>
                        <li class="sec-five-li">
                            <h3 class="ul-title">Classic membership</h3>
                            <div class="list-memberships-types">
                                <img class="section-five-img2" src="../../assets/imgs/thunder.png" alt="thunderbolt">
                                <ul class="sec-five-ul">
                                    <li>-Free access to the weight room</li>
                                    <li>-Personalized monitoring by a coach</li>
                                    <li>-Grid display</li>
                                </ul>
                            </div>
                        </li>
                        <li class="sec-five-li">
                            <h3 class="ul-title">Only classes membership</h3>
                            <div class="list-memberships-types">
                                <img class="section-five-img2" src="../../assets/imgs/heart.png" alt="heart">
                                <ul class="sec-five-ul">
                                    <li>-Free access to the weight room</li>
                                    <li>-Grid display</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer bg-blue">
            <small class="footer-text">Copyright © 2022 Radium Rocket. All rights reserved.</small>
            <div>
                <a href="mailto:info@Rocket.com">
                    <img class="footer-img" src="../../assets/imgs/gmail.png" alt="gmail logo">
                </a>
                <a href="https://www.instagram.com/">
                    <img class="footer-img"  src="../../assets/imgs/facebook.png" alt="facebook logo">
                </a>
                <a href="https://es-la.facebook.com/">
                    <img class="footer-img" src="../../assets/imgs/instagram.png" alt="instagram logo">
                </a>
            </div>
        </footer>      
    </div>
</body>
</html>