aside {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.aside-other-op, .aside-other-op-ul, .nav-logo-desktop {
  display: none;
}

 
.aside-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.img-hamburger {
  width: 30px;
  padding: 20px;
  align-self: start;
  cursor: pointer;
}


.nav-ul-li:nth-child(4) {
  display: none;
}

.nav-ul-li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -2px;
  width: 105px;
  padding: 20px 50px;
  margin: 23px auto;
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  -webkit-text-stroke: 1px yellowgreen;
}

.a-info {
  display: flex;
  align-items: center;
}

.a-info-img {
  width: 30px;
  height: 30px;
  margin: 5px 0px;
}

.aside-div-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-div-phone img {
  width: 60px;
}

.aside-logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

.aside-logos a {
  padding: 0px 5px;
}

.aside-logos-img {
  width: 23px;
  height: 21px;
}
/*
@media all and (min-width: 480px) {
  .nav-ul-li {
    height: 50px;
    width: 346px;
    margin: 60px auto;
  }

  .ul-info {
    margin: 10px 0px;
    font-size: 30px;
  }

  .aside-div-phone img {
    width: 151px;
  }
} */