aside {
  display: none;
  position: sticky;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  font-weight: bold;
}

.div-other-op, .nav-logo-desktop, .nav-ul-li:nth-child(4) {
  display: none;
}

.aside-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.img-hamburger {
  width: 30px;
  padding: 20px;
  align-self: start;
  cursor: pointer;
}

.nav-ul-li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -2px;
  width: 105px;
  padding: 20px 50px;
  margin: 23px auto;
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  -webkit-text-stroke: 1px yellowgreen;
}

.a-info {
  display: flex;
  align-items: center;
}

.a-info-img {
  width: 30px;
  height: 30px;
  margin: 5px 0px;
}

.aside-div-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-div-phone img {
  width: 60px;
}

.aside-logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

.aside-logos a {
  padding: 0px 5px;
}

.aside-logos-img {
  width: 23px;
  height: 21px;
}

@media screen and (min-width: 480px) {
  aside {
    display: flex;
    width: 20%;
    background-color: #AACE9B;
  }

  .aside-div {
    justify-content: space-around;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-logo-desktop {
    display: block;
    width: 50px;
  }

  .nav-ul-li:nth-child(4) {
    display: flex;
  }

  .nav-ul-li {
   width: 20%;
   padding: 10px 25px;
   font-size: 1.3vw;
  }

  .div-other-op {
    display: block;
    font-size: 10px;
  }

  .aside-other-op-ul {
    margin: 15px 0px;
  }

  .aside-other-op-ul li {
    margin: 10px 0px;
  }

  .a-info {
    font-size: 8px;
  }

  .a-info-img {
    width: 20px;
    height: 20px;
    margin: 5px 0px;
}

  .img-hamburger, .aside-logos, .aside-div-phone {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .nav-ul-li {
    padding: 15px 40px;
  }
  
  .div-other-op {
    font-size: 0.8rem;
  }

  .a-info {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-ul-li {
    width: 40%;
    border: 1px solid #373867;
    -webkit-text-stroke: 0px;
   }
}