.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one-title {
  margin: 30px 0px;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.section-one-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.section-one-img {
  width: 100%;
}

.section-one-div p{
  width: 80%;
  margin: 20px 0px;
  color: #373867;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-two {
  height: 100vh;
  background-image: url("../img/background-img-gym.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.section-two-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.sec-two-list-type {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.div-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-two-list-type li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px 0px;
  border: 1px solid #373867;
  border-radius: 3px;
}

.ul-p {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.section-three-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-size: 30px;
}

.section-three-div img {
  margin: 0px 10px;
  width: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.input-form {
  height: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.form-subtitles {
  margin: 20px 0px;
}

.form-div-label {
  display: block;
  margin: 10px 0px;
  font-size: 13px;
}

.form-message {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.textarea {
  margin: 10px 0px;
  border-radius: 10px;
}

.form-btn {
  font-size: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.section-four {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}

.section-four-div {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  background-image: url("../img/background2-img-gym.png");  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-three-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-five {
  min-height: 100vh;
  font-size: 20px;
}

.section-five-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  font-size: 15px;
  font-weight: bold;
}

.section-five-title {
  font-size: 20px;
}

.img-with-text {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.img {
  width: 40px;
  height: 30px;
  margin: 0px 20px;
  vertical-align: middle;
}

.sec-five-li{
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.ul-title {
  margin: 10px 0px;
}

.sec-five-ul li{
  font-size: 10px;
}

@media all and (min-width: 480px) {
}
/*






@media only screen and (min-width: 480px) {
  .section-one-div p {
    font-size: 40px;
  }
  
  .sec-two-list-type li {
    height: 111px;
    margin: 12px 0px;
  }

  .ul-p {
    font-size: 20px;
}

  .section-three {
    margin: 30px 0px;
  }

  .section-three-p {
    font-size: 40px;
  }

} */