.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one-title {
  margin: 30px 0;
  width: 90%;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.section-one-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.section-one-img {
  width: 100%;
}

.section-one-div p{
  width: 80%;
  margin: 20px 0;
  color: #373867;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.section-two {
  height: 100vh;
  background-image: url("../img/background-img-gym.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.section-two-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.sec-two-list-type {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.div-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-two-list-type li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px 0;
  border: 1px solid #373867;
  border-radius: 3px;
}

.ul-p {
  padding: 10px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.section-three-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 1.8rem;
}

.section-three-div img {
  margin: 0 10px;
  width: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.input-form {
  height: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.form-subtitles {
  margin: 20px 0;
}

.form-div-label {
  display: block;
  margin: 10px 0;
  font-size: 0.8rem ;
}

.form-message {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.textarea {
  margin: 10px 0;
  border-radius: 10px;
}

.form-btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-btn-reset {
  background-color: white;
  border: 1px solid #373867;
}


.section-four {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

.section-four-div {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  background-image: url("../img/background2-img-gym-blur.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-three-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 20px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.section-five-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  font-size:  0.9rem;
  font-weight: bold;
}

.section-five-title {
  font-size:  0.9rem;
}

.img-with-text {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.img {
  width: 40px;
  height: 30px;
  margin: 0 20px;
  vertical-align: middle;
}

.section-five-img2 {
  width: 20px;
  height: 20px;
  margin: 0 15px;
}

.sec-five-li{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.list-memberships-types {
  display: flex;
  align-items: center;
}

.ul-title {
  margin: 10px 0;
}

.sec-five-ul li{
  font-size: 0.6rem;
}

@media all and (min-width: 480px) {
  .section-one-div p{
    text-shadow: none;
  }

  .section-four {
    font-size: 1.5rem;
  }

  .section-five-title {
    font-size: 1.5rem;
  }

  .section-five-ul-activities {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    height: 245px;
    width: 80%;
  }

  .img-with-text {
    font-size: 1.3rem;
  }

  .section-five-img2 {
    width: 25px;
    height: 25px;
  }
  .sec-five-ul li {
    font-size: 1rem;
  }

}

@media only screen and (min-width: 768px) {

  .section-one-div p {
    font-size: 1.3rem;
  } 

  .section-one-title {
    font-size: 2rem;
  }

  .sec-two-list-type li {
    height: 80px;
  }

  .form {
    font-size: 1.3rem;
  }

  .section-three-p {
    font-size: 1.3rem;
  }

  .section-five-ul-activities {
    flex-wrap: nowrap;
    align-items: center;
    height: initial;
  }

  .img {
    width: 65px;
    height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .line-section {
    width: 90%;
    margin: 10px auto;
    border: 2px solid #373867;
  }

  .section-one-title {
    text-align: start;
  }

  .section-one-div {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }

  .section-one-div p {
    font-size: 1.5rem;
  }

  .section-one-img {
    width: 50%;
  }

  .div-list {
    flex-direction: row;
  }

  .sec-two-list-type {
    margin: 20px;
  }

  .sec-two-list-type li:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .section-three {
    align-items: start;
    padding: 10px 60px;
  }

  .section-three-p {
    padding: 0 25%;
    line-height: 30px;
  }

  .label {
    width: 50%;
  }

  .section-three-title {
    align-self: flex-start;
  }

  .section-four-div {
    background-image: url("../img/background2-img-gym-no_blur.png");  
  }

  .section-four {
    padding: 20px;
  }

  .section-five {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .section-five-ul-activities {
    align-items: start;
  }
}
